<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
</head>
<body>
    <h1>Crear Producto</h1>
    <div>
        <form action="/products/crear" method="POST">
            <label for="id">ID de Producto</label><br>
            <input type="number" name='id'placeholder='Id de Producto'>
            <br>
            <label for="nombre producto">Nombre producto</label><br>
            <input type="text" name='nombre'placeholder='Nombre del prodcuto'>
            <br>
            <label for="precio producto"></label>Precio del producto</label><br>
            <input type="number" name='precio' placeholder="Precio del producto">
            <br>
            <label for="descripcion">Descripcion</label><br>
            <textarea type="text" name='descripcion' placeholder="Descripcion del producto"></textarea>
            <br>
            <label for="marca">Marca del producto</label><br>
            <input type="text" name='marca' placeholder="Indique marca del producto">
            <br>
            <label for="stock">Stock disponible</label><br>
            <input type="number" name='stock' placeholder="Coloque el stock disponible">
            <br>
            <button type="submit">Crear Producto</button>
        </form>


    </div>
    
</body>
</html>